<settings>
    <group id="Retention" title="@Strings.retention" description="@Strings.retentionDescription">
        <setting propertyKey="@Properties.retention_length" title="@Strings.retention_length">
            <settingConfig type="numeric" min="1" />
        </setting>

        <setting propertyKey="@Properties.retention_unit" title="@Strings.retention_unit">
            <settingConfig type="list">
                <listEntry value="0">@Strings.week</listEntry>
                <listEntry value="1">@Strings.month</listEntry>
                <listEntry value="2">@Strings.year</listEntry>
            </settingConfig>
        </setting>
    </group>
    <group id="Medication1" title="@Strings.medication1">
        <setting propertyKey="@Properties.medication1_name" title="@Strings.medication_name">
            <settingConfig type="alphaNumeric" />
        </setting>

        <setting propertyKey="@Properties.medication1_type" title="@Strings.medication_type">
            <settingConfig type="list">
                <listEntry value="0">@Strings.spray</listEntry>
                <listEntry value="1">@Strings.tablet</listEntry>
            </settingConfig>
        </setting>
    </group>
    <group id="Medication2" title="@Strings.medication2">
        <setting propertyKey="@Properties.medication2_name" title="@Strings.medication_name">
            <settingConfig type="alphaNumeric" />
        </setting>

        <setting propertyKey="@Properties.medication2_en" title="@Strings.medication_en">
            <settingConfig type="boolean" />
        </setting>

        <setting propertyKey="@Properties.medication2_type" title="@Strings.medication_type">
            <settingConfig type="list">
                <listEntry value="0">@Strings.spray</listEntry>
                <listEntry value="1">@Strings.tablet</listEntry>
            </settingConfig>
        </setting>
    </group>
    <group id="Medication3" title="@Strings.medication3">
        <setting propertyKey="@Properties.medication3_name" title="@Strings.medication_name">
            <settingConfig type="alphaNumeric" />
        </setting>

        <setting propertyKey="@Properties.medication3_en" title="@Strings.medication_en">
            <settingConfig type="boolean" />
        </setting>

        <setting propertyKey="@Properties.medication3_type" title="@Strings.medication_type">
            <settingConfig type="list">
                <listEntry value="0">@Strings.spray</listEntry>
                <listEntry value="1">@Strings.tablet</listEntry>
            </settingConfig>
        </setting>
    </group>
    <group id="Medication4" title="@Strings.medication4">
        <setting propertyKey="@Properties.medication4_name" title="@Strings.medication_name">
            <settingConfig type="alphaNumeric" />
        </setting>

        <setting propertyKey="@Properties.medication4_en" title="@Strings.medication_en">
            <settingConfig type="boolean" />
        </setting>

        <setting propertyKey="@Properties.medication4_type" title="@Strings.medication_type">
            <settingConfig type="list">
                <listEntry value="0">@Strings.spray</listEntry>
                <listEntry value="1">@Strings.tablet</listEntry>
            </settingConfig>
        </setting>
    </group>
    <group id="Medication5" title="@Strings.medication5">
        <setting propertyKey="@Properties.medication5_name" title="@Strings.medication_name">
            <settingConfig type="alphaNumeric" />
        </setting>

        <setting propertyKey="@Properties.medication5_en" title="@Strings.medication_en">
            <settingConfig type="boolean" />
        </setting>

        <setting propertyKey="@Properties.medication5_type" title="@Strings.medication_type">
            <settingConfig type="list">
                <listEntry value="0">@Strings.spray</listEntry>
                <listEntry value="1">@Strings.tablet</listEntry>
            </settingConfig>
        </setting>
    </group>
</settings>